
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;  
      transition: 0.5s;
}

/* Parfymer */

.container {
    max-width: 40vh;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    grid-area: container;
}


.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product img {
    height: 50vh;
    width: auto;
}

.product h2 {
    font-size: 20px;
    margin-top: 10px;
}

.product p {
    margin-top: 5px;
}

.product .price {
    font-weight: bold;
    color: #009688;
}

.product button {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #00796b;
}

/* Doftnoter */
#mainnoter{
    width: 100%;
    height: 71vh;
    display: flex;
    gap: 15px;
}

body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-position: center;
    filter: brightness(0.25);
    z-index: -1;
}

.card{
    width: 20%;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
    grid-area: card;
}

.card:hover{
    width: 80%;
}

.card .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover .image{
    transform: scale(1.2);
}

.card .background {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 130vh;
    object-fit: cover;
    pointer-events: none;
    filter: brightness(0.75);
    opacity: 0;
}

.card:hover .background{
    opacity: 1;
}

.card .layer{
    width: 100%;
    height: 50%;
    margin-top: -35vh;
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    
}

.card .layer .info{
    width: 260px;
    position: absolute;
    bottom: 10px;
    padding: 20px;
    opacity: 0;
}

.card:hover .layer .info{
    opacity: 1;
}

.info p{
    color: rgba(255, 255, 255, 0.75);
    margin-top: 5px;
}

/* Kontakt */
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card_2{
    width: 325px;
    background-color: aliceblue;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px(0,0,0,0,2);
    margin-top: 20px;
}

.card_2 img{
    width: 100%;
    height: auto;
}

.card-content {
     padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: white;
}

.nottit {
    font-size: 1rem;
    color: #fff;
}

#index_wrapper{
    display: grid;
    height: calc(100vh - 100px);
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "hea hea"
            "nav nav"
            "art art"
            "section1 section2"
            "section3 section4"
            "section5 section6"
            "foo foo"
}


/* article{
    height: 10vh;
    width: auto;
    grid-area: art;
    display: flex;
    justify-content: center;
    font-family: "Pacifico", cursive;
    font-style: normal;
    font-size: 1.25rem;
} */


/* #parfymer_wrapper{
    display: grid;
    height: calc(100vh - 100px);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "hea hea hea"
            "nav nav nav"
            "sec1 sec2 sec3"
            "foo foo"
} */

 #section_1 {
    grid-area: section1;
    margin-right: 5px;
    width: auto;
    height: 300px;
    border: solid 1px black;
    display: flex;
    background-image: url("../img/passion.jpg");
    background-size: cover;
}

#section_2 {
    grid-area: section2;
    margin-left: 5px;
    width: auto;
    height: 300px;
    border: solid 1px black;
    background-image: url("../img/lycka.jpg");
    background-size: cover;

}


#section_3 {
    grid-area: section3;
    height: 300px;
    margin: 5px;
    width: auto;
    border: solid 1px black;
    background-image: url("../img/minnen.jpg");
    background-size: cover;
}

#section_4 {
    grid-area: section4;
    height: 300px;
    margin: 5px;
    width: auto;
    border: solid 1px black;
    background-image: url("../img/karlek.jpg");
    background-size: cover;
}

#section_5 {
    grid-area: section5;
    height: 300px;
    margin: 5px;
    width: auto;
    border: solid 1px black;
    background-image: url("../img/kansel.jpg");
    background-size: cover;
}

#section_6 {
    grid-area: section6;
    height: 300px;
    margin: 5px;
    width: auto;
    border: solid 1px black;
    background-image: url("../img/ro.jpg");
    background-size: cover;
}



.titlar {
    font-size: 5vh;
    text-transform: uppercase;
    color: #fff;
    font-family: fantasy;
}

header{
    grid-area: hea;
    display: grid;
    justify-content: center;
    align-content: center;
    height: 30vh;
    width: auto;
    font-size: 3rem;
}
  


nav {
    grid-area: nav;
    margin-bottom: 50px;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    background-image: url("../img/farg.jpg");
    background-size: cover;
}



#link_list {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    height: 400px;
}


#link_list a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    margin: 1rem;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#link_list a:hover {
    color: rgb(250, 250, 250);
}



footer{
    grid-area: foo;
    height: 14.5vh ;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-image: url("../img/rainbo.jpg");
    background-size: cover;
}



#link_list a:hover {
    color: rgb(255, 255, 255);
}

#link_list a {
    color: black;
    font-size: 1.5rem;
}

.links_visible {
    transform: translateY(0px);
}


@media screen and (max-width: 800px) {

#index_wrapper {
    display: grid;
    height: calc(100vh - 100px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "hea"
        "nav"
        "art"
        "section1"
        "section2"
        "section3"
        "section4"
        "section5"
        "section6"
        "foo";
}



#doftnoter_wrapper {
    display: grid;
    height: calc(100vh - 100px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "hea"
        "nav"
        "card"
        "card"
        "card"
        "card"
        "card"
        "card"
        "foo";
}


#parfymer_wrapper {
    display: grid;
    height: calc(100vh - 100px);
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "hea"
        "nav"
        "container"
        "foo";
}

h1 {
    font-size: 3rem;
}


#burger {
    cursor: pointer;
    margin-left: 30vh;
}

.links_visible {
    transform: translateY(780px);
}

#link_list a {
    color: rgb(255, 255, 255);
    background-color: #000000;
    margin-left: 8vh;
    /* font-size: 1.5rem; */
}


.burger_line {
    width: var(--burgerline_width);
    height: var(--burgerline_height);
    margin: var(--burgerline_margin);
    background: black;
    border-radius: 20%;
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burgerline_height) + var(--burgerline_margin))) rotate(45deg);
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burgerline_height) + var(--burgerline_margin)))) rotate(-45deg);
}

#link_list {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    position: absolute;
    top: -400px;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}



}