* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --burgerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;
    --background_color: lightseagreen;
}


 .wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr minmax(20px, 60px);
    grid-template-areas: 
        "hea"
        "nav"
        "sec"
        "foo";
}



header{
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 60px;
    width: auto;
    font-size: 50px;
    font-family: "Micro 5", sans-serif;
    background-color: red;
    grid-area: hea;
}


body{
    background-color:brown ;
}

nav {
    display: flex;
    height: 70px;
    width: auto;
    background-color: var(--background_color);
    align-items: center;
    justify-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: olive;
    text-decoration: none;
    font-size: 1rem;
    grid-area: nav;
}

footer{
background-color: yellowgreen;
justify-content: center;
justify-items: center;
grid-area: foo;
}

@media screen and (min-width: 800px) {


main {
    height: calc(100vh - 100px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 400px minmax(180px, 1fr);
    grid-template-areas: 
        "welcome_ section1"
        "section2 section3"
        "section4 section4";
}


/* styling av id */
#link_list {
    flex-direction: row;
    height: 100px;
    width: 100%;
    top: 0px;
    border-bottom: 2px solid grey;
}

/* styling av klass */
.links_visible {
    transform: translateY(0px);
}



/* styling av flera selektorer, hover mm */
#link_list a:hover {
    background: var(--background_color);
    color: rgb(255, 128, 0);
}

#link_list a {
    color: black;
    font-size: 1.5rem;
}

}